<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Quizatron on jumbotron</h1>
    <p class="lead">This is my attempt at completing the first quiz of the UT coding bootcamp.</p>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://dustindavis.netlify.com/">Dustin Davis</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->